// Variable overrides


$table-cell-padding: 0.20rem;

$label-margin-bottom: 0.15rem;

$form-group-margin-bottom: 0.4rem;

$blue: #004b8f;

$table-head-bg: $blue;

$toast-background-color: rgba(0,0,0,0);

$toast-max-width: 250px;
$yellow:  rgba(232, 232, 41, 0.5);
$red:     rgba(247, 54,  53, 0.5);
$cyan:    rgba(89,  168, 195,0.5);